<%- include('partials/header')%>
<%- include('partials/content-header')%>

<main>
  <h1>This is the Landing Page</h1>
  <a href="/campgrounds">View All Campgrounds</a>
</main>

<%- include('partials/footer') %>