<header>
  <nav>
    <h1>Yelpcamp!</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/campgrounds">Campgrounds</a></li>
    </ul>
  </nav>
</header>

<main>
  <h1>This is the Landing Page</h1>
  <a href="/campgrounds">View All Campgrounds</a>
</main>