<%- include('partials/header')%>
<%- include('partials/content-header')%>

<main>
  <div class="jumbotron jumbotron-fluid">
    <div class="container py-5">
      <h1 class="display-4">Welcome to Yelp Camp!</h1>
      <p class="lead">Hand-picked campgrounds across the Philippines</p>

      <a href="/campgrounds" class="mt-5 btn btn-primary">View Campgrounds</a>
    </div>
  </div>
</main>

<%- include('partials/footer') %>