<%- include('partials/header')%>
<%- include('partials/content-header')%>

<main>
  <div class="container">
    <h1>This is the Landing Page</h1>
    <a href="/campgrounds">View All Campgrounds</a>
  </div>
</main>

<%- include('partials/footer') %>